name: Compilar mcpelauncher 32bit(Qt5 - Manifest Repo)

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Clonar Manifiesto 
        uses: actions/checkout@v4
        with:
          repository: 'minecraft-linux/mcpelauncher-manifest'
          ref: 'ng'
          submodules: 'recursive'
          fetch-depth: 0 # Necesario para encontrar commits antiguos si no están en el headless actual

      - name: Aplicar commit específico
        run: git checkout 36582b9

      - name: Descargar Dockerfile de construcción
        run: |
          curl -L https://github.com/franckey02/my-dockers-setup/raw/refs/heads/main/Dockerfile32.build -o Dockerfile.build

      - name: Construir imagen de entorno
        run: docker build -t mcpelauncher-builder -f Dockerfile.build .

      - name: Compilación con Clang y Optimizaciones
        run: |
          docker run --rm -v ${{ github.workspace }}:/project mcpelauncher-builder /bin/bash -c "
            mkdir -p build && cd build
            CC=clang CXX=clang++ cmake .. \
              -DENABLE_DEV_PATHS=OFF \
              -DBUILD_UI=ON \
              -DBUILD_CLIENT=ON \
              -DCURL_EXT_EXTRA_OPTIONS=-DCURL_USE_LIBPSL=OFF \
              -DCMAKE_BUILD_TYPE=RelWithDebInfo \
              -DCMAKE_C_FLAGS='-m32' \
              -DCMAKE_CXX_FLAGS='-m32' \
              -DCMAKE_EXE_LINKER_FLAGS='-m32' \
              -DCMAKE_FIND_ROOT_PATH='/usr/lib/i386-linux-gnu;/usr/include/i386-linux-gnu' \
              -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY \
              -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY \
              -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER \
              -DCMAKE_POLICY_VERSION_MINIMUM=3.5 \
              -Wno-dev
            make -j$(nproc)
          "

      - name: Subir Binarios
        uses: actions/upload-artifact@v4
        with:
          name: mcpelauncher-qt5-debian13
          path: |
            build/mcpelauncher-client
            build/mcpelauncher-ui-qt/mcpelauncher-ui-qt
            build/mcpelauncher-webview
            build/mcpelauncher-error
            build/mcpelauncher-extract
          if-no-files-found: warn
